# Ignorer les dossiers node_modules pour le backend et le frontend
server/node_modules/
frontend/node_modules/
node_modules/

# Ignorer les fichiers d'environnement
server/.env
server/.env.*
frontend/.env
frontend/.env.*

# Fichiers système
.DS_Store
Thumbs.db

# Configuration de l'éditeur
.vscode/

# Dossiers de build
/dist
server/dist
frontend/dist

# Fichiers de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
